@font-face {
  font-family: nasa;
  src: url('../fonts/nasalization-rg.otf');
}

@font-face {
  font-family: targent;
  src: url('../fonts/TarrgetAcademyRegular.otf')
}

* {
  font-family: nasa;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 4px solid #333;
  border-radius: 4px;
  font-family: targent;
}